{% extends "layout.html" %}

{% block content %}

<div class="pcuadrohome">
    <h3>Nuestro Menú</h3>
    <a href="/menu">Ver Menú</a>
    <p>Degusta nuestro diverso y más completo Menú con más 100 platos tradicionales de la auténtica comida Cantonesa</p>
</div>

<div class="scuadrohome">
    <div class="primertextoscuadro">
        <h3>Horario de Trabajo</h3>
        <p>Martes a Domingo:<br>
            12pm-7pm </p>
    </div>
    <div class="segundotextoscuadro">
        <h3>Delivery</h3>
        <p>Contamos con Delivery para toda Caracas</p>
        <p>Haz tu <a>Pedido</a> aqui Ya!</p>
    </div>


</div>

<div class="tcuadrohome" id="tercercuadrohome">
    <h3>Ubicación</h3>
    <p>Avenida Teresa de la Parra con calle Simón Planas, Santa Mónica, Caracas</p>

    <div class="botonmapa"><a href="#" id="show">Desplegar Mapa</a></div>
    <div id="content">
        <div id="element" class="contenedormapa">
            <iframe style="width:100%"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.2562873947704!2d-66.89221078571501!3d10.480451467453976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58c5dd95ab93%3A0x8ab82cbd61449cd5!2sRestaurant%20New%20China!5e0!3m2!1ses!2sve!4v1666289597231!5m2!1ses!2sve"
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                </iframe>
        </div>
        <div class="botonmapa"><a href="#" id="hide" title="Cerrar" style="display:none">Cerrar Mapa</a></div>
    </div>

    
    <div class="contenedormapa" id="contenedormapa">
        <iframe style="width:100%"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.2562873947704!2d-66.89221078571501!3d10.480451467453976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58c5dd95ab93%3A0x8ab82cbd61449cd5!2sRestaurant%20New%20China!5e0!3m2!1ses!2sve!4v1666289597231!5m2!1ses!2sve"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
    </div>
</div>






{% endblock %}