{% extends "layout.html" %}

{% block content %}

<div class="pcuadrohome">
    <div class="imgcuadrounopeq animacionimguno">
        <img src="http://drive.google.com/uc?export=view&id=171Lcl768-otpp9fddCw4tjxg7y5MyZYW" alt="">
    </div>
    <div class="contenedordeinfocuadrouno">
        <h3>Nuestro Menú</h3>
        <p class="textopcuadro">Degusta nuestra diversa y completa Carta con numerosos platos tradicionales de la
            autentica comida Cantonesa
        </p>
        <p class="linkpcuadro"><a href="/menu">Consultar Menú</a></p>
    </div>
    <div class="imgcuadrounogde animacionimguno" >
    <img src="http://drive.google.com/uc?export=view&id=171Lcl768-otpp9fddCw4tjxg7y5MyZYW" alt="">
</div>
</div>

<div class="scuadrohome">
    <div class="scuadrohomecontenido">
        <div class="imagenscuadro animacionimgdos">
            <img src="http://drive.google.com/uc?export=view&id=13r-qD9OsWQEKKeKvcCAAWg_gpqQphyro" alt="">
        </div>
        <div class="contenedordeinfocuadrodos">
            <div class="primertextoscuadro">
                <h3>Horario de Trabajo</h3>
                <p>Martes a Domingo:<br>
                    12pm a 7pm </p>
            </div>
            <div class="segundotextoscuadro">
                <h3>Delivery</h3>
                <p>Contamos con Delivery para toda Caracas
                    <br>Haz tu <a href="/menu">Pedido aqui</a> Ya!
                </p>
            </div>
        </div>
    </div>
    <div class="tercertextoscuadro">
        <h2>RECUERDA HACER TU PEDIDO ANTES DE LAS 6 p.m</h2>
    </div>
</div>

<div class="tcuadrohome" id="tercercuadrohome">
    <div class="contenedordeinfocuadrotres">
        <div class="infocuadrotres">
            <h3>Ubicación</h3>
            <p>Avenida Teresa de la Parra con calk Simon Planas ; Santa Monica ; Caracas</p>
        </div>
        <div class="contenedormapa">
            <iframe style="width:100%;"
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3923.2562873947704!2d-66.89221078571501!3d10.480451467453976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8c2a58c5dd95ab93%3A0x8ab82cbd61449cd5!2sRestaurant%20New%20China!5e0!3m2!1ses!2sve!4v1666289597231!5m2!1ses!2sve"
                loading="lazy" referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>
    </div>
</div>






{% endblock %}