{% extends "layout.html" %}

{% block content %}
<div class="fondomenuimg">

<div class="nav2" id="BarraMenu">
    <ul class="nav3">
        <li class="nav-item">
            <a href="#COMBOS"><img src="{{ url_for('static', filename ='Imagenes/barramenu/combos.png') }}"></a>
            <a class="nav-link active" aria-current="page" href="#COMBOS">Combos</a>
        </li>
        <li class="nav-item">
            <a href="#ENTREMESES"><img src="{{ url_for('static', filename ='Imagenes/barramenu/entremes.png') }}"></a>
            <a class="nav-link" href="#ENTREMESES">Entremeses</a>
        </li>
        <li class="nav-item">
            <a href="#Arrozfrito"><img src="{{ url_for('static', filename ='Imagenes/barramenu/arrozfrito.png') }}"></a>
            <a class="nav-link" href="#Arrozfrito">Arroz Frito</a>
        </li>
        <li class="nav-item">
            <a href="#ArrozSalt"><img src="{{ url_for('static', filename ='Imagenes/barramenu/arrozsalteado.png') }}"></a>
            <a class="nav-link" href="#ArrozSalt">Arroz Salteado</a>
        </li>
        <li class="nav-item">
            <a href="#Chopsuey"><img src="{{ url_for('static', filename ='Imagenes/barramenu/chopsuey.png') }}"></a>
            <a class="nav-link" href="#Chopsuey">Chopsuey</a>
        </li>
        <li class="nav-item">
            <a href="#ChowMein"><img src="{{ url_for('static', filename ='Imagenes/barramenu/chowmein.png') }}"></a>
            <a class="nav-link" href="#ChowMein">ChowMein</a>
        </li>
        <li class="nav-item">
            <a href="#LoMein"><img src="{{ url_for('static', filename ='Imagenes/barramenu/lomein.png') }}"></a>
            <a class="nav-link" href="#LoMein">LoMein</a>
        </li>
        <li class="nav-item">
            <a href="#Fideos"><img src="{{ url_for('static', filename ='Imagenes/barramenu/fideo.png') }}"></a>
            <a class="nav-link" href="#Fideos">Fideos</a>
        </li>
        <li class="nav-item">
            <a href="#Pollo"><img src="{{ url_for('static', filename ='Imagenes/barramenu/pollo.png') }}"></a>
            <a class="nav-link" href="#Pollo">Pollo</a>
        </li>
        <li class="nav-item">
            <a href="#Carnes"><img src="{{ url_for('static', filename ='Imagenes/barramenu/carne.png') }}"></a>
            <a class="nav-link" href="#Carnes">Carnes</a>
        </li>
        <li class="nav-item">
            <a href="#Cerdo"><img src="{{ url_for('static', filename ='Imagenes/barramenu/cerdo.png') }}"></a>
            <a class="nav-link" href="#Cerdo">Cerdo <br>& Camarones</a>
        </li>
        <li class="nav-item">
            <a href="#Fuyung"><img src="{{ url_for('static', filename ='Imagenes/barramenu/fuyung.png') }}"></a>
            <a class="nav-link" href="#Fuyung" >Fu Yung</a>
        </li>
        <li class="nav-item">
            <a href="#Vegetales"><img src="{{ url_for('static', filename ='Imagenes/barramenu/vegetales.png') }}"></a>
            <a class="nav-link" href="#Vegetales">Vegetales <br>& <br>Ensaladas</a>
        </li>
        <li class="nav-item">
            <a href="#Sopas"><img src="{{ url_for('static', filename ='Imagenes/barramenu/sopa.png') }}"></a>
            <a class="nav-link" href="#Sopas">Sopas</a>
        </li>
        <li class="nav-item">
            <a href="#Bebidas"><img src="{{ url_for('static', filename ='Imagenes/barramenu/bebida.png') }}"></a>
            <a class="nav-link" href="#Bebidas">Bebidas</a>
        </li>
        <li class="nav-item">
            <a href="#Extras"><img src="{{ url_for('static', filename ='Imagenes/barramenu/salsa.png') }}"></a>
            <a class="nav-link" href="#Extras">Extras</a>
        </li>
    </ul>
</div>

<a href="#textobienvnw" class="botoninicio">↑ Volver ↑</a>

<div class="titulomenus">
    <h2 id="PROMOCIONES">¡ PROMOCIONES !</h2>
    <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}" alt="ImagendeCarta">
</div>

<div id="containermenu3" class="containerseccion">
</div>

<div class="Menucompleto">

    <div class="titulomenus">
        <h2 id="COMBOS">COMBOS</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenu1" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="ENTREMESES">ENTREMESES</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenu3entremes" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Arrozfrito">Arroz Frito</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenuarroz" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="ArrozSalt">Arroz Salteado</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenuarrozsalt" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Chopsuey">Chopsuey</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenuchopsuey" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="ChowMein">Chow Mein</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenuchowmein" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="LoMein">Lo Mein</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenulomein" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Fideos">Fideos</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenufideos" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Pollo">Pollo</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenupollo" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Carnes">Carnes</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenucarnes" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Cerdo">Cerdo & Camarón</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenucerdo" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Fuyung">Fu Yung</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenufuyung" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Vegetales">Vegetales & Ensaladas</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenuvegetales" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Sopas">Sopas</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenusopas" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Bebidas">Bebidas</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenubebidas" class="containerseccion">
    </div>

    <div class="titulomenus">
        <h2 id="Extras">Extras</h2>
        <img src="{{ url_for('static', filename ='Imagenes/imghead/logohead.png') }}">
    </div>
    <div id="containermenuextras" class="containerseccion">
    </div>
</div>
</div>

{% endblock %}